.product__ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin-top: 20px;
  gap: 82px;
}

@media (max-width: 425px) {
  .product__ul {
    display: flex;
    gap: 30px;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }
}
