.btnCard {
    height: 2.5rem;
    padding: 0rem 1.25rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: none;
    background: #BDBDBD;

    color: #FFF;
    font-size: 14px;
    font-weight: 600;

    cursor: pointer;

    &.green {
        background: #27AE60;
    }
}

.btnCard:hover {
    background-color: var(--color-primary);
}